@import "../../App.css";

.experience {
  padding: 5rem 3rem;
  margin-top: 24px;
}

.experience___style {
  display: flex;
  justify-content: space-between;
}

.experience___style___headlineSection {
  position: relative;
  width: 40%;
}

.experience___style___headlineSection--line1 {
  position: relative;
  padding: 0 1rem;
  text-transform: uppercase;
  color: var(--hoverColor1);
}

.experience___style___headlineSection--line1::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  content: "";
  background: var(--hoverColor1);
  color: var(--hoverColor1);
  z-index: 2;
}

.experience___style___headlineSection h1 {
  position: relative;
}
.experience___style___headlineSection hr {
  position: absolute;
  width: 8rem;
  left: 77%;
  bottom: 15%;
}
.experience___style___headlineSection--imgae1 {
  right: 20%;
  bottom: 0;
  position: absolute;
  height: 85%;
}

.experience___style___headlineSection--imgae2 {
  padding: 1rem;
  bottom: 0;
  right: 10%;
  position: absolute;
  height: 180px;
  border-radius: 50%;
}

.experience___style___headlineSection--imgae2 > img {
  height: 100%;
}

.experience___style___workingDetail {
  width: 60%;
  background-color: var(--cardColor);
  padding: 2rem 3rem;
  border-radius: 20px;
  height: fit-content;
}

.exerience___style__workingDetail--detail {
  position: relative;
  padding: 1rem 2rem;
  z-index: 1;
}

.exerience___style__workingDetail--detail::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  content: "";
  background: var(--primary-color);
  color: var(--primary-color);
  z-index: 2;
}

.exerience___style__workingDetail--detail___icon {
  position: absolute;
  top: 10px;
  left: -10px;
  color: var(--primary-color);
  font-size: 1.2rem;
  z-index: 10;
}

.exerience___style__workingDetail--detail h3 {
  margin: 2px 0 10px 0;
}

.exerience___style__workingDetail--detail ul {
  margin-top: 18px;
  list-style-type: disc;
  color: var(--text-color);
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  opacity: 75%;
  list-style-position: inside;
  line-height: 1.5;
  font-size: 1rem;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 576px) {
  .experience {
    padding: 1.5rem 1.5rem;
    margin-top: 0px;
  }

  .experience___style {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .experience___style___headlineSection {
    position: relative;
    width: 100%;
  }

  .experience___style___headlineSection--line1 {
    font-size: 14px;
  }

  .experience___style___headlineSection--imgae1 {
    display: none;
  }

  .experience___style___headlineSection--imgae2 {
    bottom: -85vh;
    right: -10%;
    height: 80px;
  }

  .experience___style___headlineSection--imgae2 > img {
    height: 100%;
  }

  .experience___style___workingDetail {
    margin-top: 18px;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
  }

  .exerience___style__workingDetail--detail {
    padding: 1rem 1.5rem;
  }

  .exerience___style__workingDetail--detail___icon {
    position: absolute;
    top: 10px;
    left: -10px;
    color: var(--primary-color);
    font-size: 1.2rem;
    z-index: 10;
  }
  .exerience___style__workingDetail--detail p {
    font-size: 11px;
    line-height: 1.5;
  }

  .exerience___style__workingDetail--detail h4 {
    font-size: 18px;
  }

  .exerience___style__workingDetail--detail h3 {
    margin: 2px 0 10px 0;
    font-size: 14px;
  }

  .exerience___style__workingDetail--detail ul {
    margin-top: 10px;
    font-size: 9px;
  }
}
