@import "../../App.css";

.skills {
  width: 90%;
}

.skills p {
  margin: 25px 0;
  line-height: 2;
}

.skills___cardBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.skills___cardBox___card {
  width: 40%;
  margin-right: 18px;
  border-radius: 10px;
}

.skills___cardBox___card p {
  margin: 12px 0;
  line-height: 1.5;
}

.skills___cardBox___card:last-child {
  margin-right: 0px;
}
.skills___cardBox___card ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
.skills___cardBox___card li {
  color: var(--text-color);
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  list-style-position: inside;
  opacity: 70%;
  line-height: 1.5;
  font-size: 1rem;
  padding: 2px 5px;
  background-color: brown;
  border-radius: 50px;
}

.skills___cardBox___card h4 {
  margin-top: 18px;
}

.skills___cardBox___card h4 img{
 height: 28px;
}
