@import "../../App.css";

.skills {
  width: 90%;
}

.skills p {
  margin: 25px 0;
  line-height: 2;
}

.skills___cardBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.skills___cardBox___card {
  width: 40%;
  margin-right: 18px;
  border-radius: 10px;
}

.skills___cardBox___card p {
  margin: 12px 0;
  line-height: 1.5;
  /* width: fit-content; */
}

.skills___cardBox___card:last-child {
  margin-right: 0px;
}
.skills___cardBox___card ul {
  display: flex;
  flex-wrap: wrap;
}

.skills___cardBox___card li {
  width: fit-content;
  height: 30px;
  margin: 5px 5px;
}

.skills___cardBox___card li > img {
  height: 100%;
}

.skills___cardBox___card h5 {
  margin: 15px 0px 5px 0;
}

.skills___cardBox___card h5 img {
  height: 24px;
}
