@import "../../App.css";

.portfolio {
  padding: 1rem 8rem;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio___detail {
  width: 40%;
  margin-left: 3rem;
}

.portfolio___image {
  height: 100%;
}

.portfolio___image > img {
  height: 100%;
}

section {
  padding: 1rem 3rem;
}

.portfolio____gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.portfolio____gallery___heading--line1 {
  position: relative;
  padding: 0 1rem;
  text-transform: uppercase;
  color: var(--hoverColor1);
}

.portfolio____gallery___heading--line1::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  content: "";
  background: var(--hoverColor1);
  color: var(--hoverColor1);
  z-index: 2;
}

.portfolio____gallery h1 {
  position: relative;
}
.portfolio____gallery hr {
  position: absolute;
  width: 8rem;
  right: -40%;
  bottom: 15%;
}

.portfolio____gallery___heading--links button {
  font-size: 18px;
  font-weight: 300;
  color: var(--primary-color);
  font-family: "Rubik", sans-serif;
  transition: all 0.3s linear;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.portfolio____gallery___heading--links button {
  margin-right: 18px;
}

.portfolio____gallery___heading--links button:last-child {
  margin-right: 0px;
}

.portfolio____gallery___heading--links button:hover {
  color: var(--hoverColor1);
}

.aboutactive {
  color: var(--hoverColor1);
}

.portfolio____gallery--cardSection {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.portfolio____gallery--cardSectionII {
  margin-top: 24px;
}

.portfolio____gallery--cardSection___card {
  border-radius: 15px;
  height: 20vh;
}

.portfolio____gallery--cardSection___cardII {
  border-radius: 15px;
  height: 40vh;
  margin-bottom: 20px;
}

.portfolio____gallery--cardSection___cardII:last-child {
  margin-bottom: 0px;
}

.portfolio____gallery--cardSection___card--detail {
  display: none;
  height: 100%;
  background-color: var(--hoverColor1);
  border-radius: 15px;
  transition: all 0.3s linear;
  position: relative;
}

.portfolio____gallery--cardSection___card:hover
  .portfolio____gallery--cardSection___card--detail,
.portfolio____gallery--cardSection___cardII:hover
  .portfolio____gallery--cardSection___card--detail {
  display: block;
}
.portfolio____gallery--cardSection___card--detail___text,
.portfolio____gallery--cardSection___card--detail___textII {
  position: absolute;
  bottom: 24px;
  width: 100%;
  left: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.portfolio____gallery--cardSection___card--detail___text a,
.portfolio____gallery--cardSection___card--detail___text button,
.portfolio____gallery--cardSection___card--detail___textII a,
.portfolio____gallery--cardSection___card--detail___textII button {
  font-size: 16px;
  font-weight: 300;
  position: absolute;
  right: 3rem;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  color: var(--text-color);
}

.portfolio____gallery--cardSection___card--detail___textII a,
.portfolio____gallery--cardSection___card--detail___textII button {
  font-size: 24px;
}

.portfolio____gallery--cardSection___card--detail___text a:hover,
.portfolio____gallery--cardSection___card--detail___text button:hover,
.portfolio____gallery--cardSection___card--detail___textII a:hover,
.portfolio____gallery--cardSection___card--detail___textII button:hover {
  color: var(--hoverColor3);
}

@media only screen and (max-width: 1024px) {
  .portfolio {
    padding: 1rem 1.5rem;
    height: fit-content;
  }

  .portfolio___detail {
    width: 100%;
    margin-left: 0rem;
  }

  .portfolio___image {
    height: 450px;
  }

  .portfolio___image > img {
    height: 100%;
  }

  section {
    padding: 1rem 1.5rem;
  }

  .portfolio____gallery___heading--line1 {
    font-size: 18px;
  }

  .portfolio____gallery___heading--links button {
    font-size: 14px;
    margin-right: 10px;
    transition: all 3.s linear;
  }


  .portfolio____gallery--cardSection {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .portfolio____gallery--cardSection___card,
  .portfolio____gallery--cardSection___cardII {
    border-radius: 8px;
    height: 15vh;
  }

  
  .portfolio____gallery--cardSection___cardII {
    height: 20vh;
  }

  .portfolio____gallery--cardSection___card--detail {
    border-radius: 8px;
  }

  .portfolio____gallery--cardSection___card--detail___text,
  .portfolio____gallery--cardSection___card--detail___textII {
    bottom: 11px;
    left: 11px;
  }

  .portfolio____gallery--cardSection___card--detail___text a,
  .portfolio____gallery--cardSection___card--detail___textII a,
  .portfolio____gallery--cardSection___card--detail___textII button,
  .portfolio____gallery--cardSection___card--detail___text button {
    font-size: 16px;
    right: 1.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .portfolio {
    padding: 1rem 1.5rem;
    flex-direction: column;
  }

  .portfolio___detail {
    width: 100%;
    margin-left: 0rem;
  }

  .portfolio___image {
    margin-top: 18px;
    width: 100%;
  }

  .portfolio____gallery {
    align-items: flex-start;
    flex-direction: column;
  }

  .portfolio____gallery___heading--line1 {
    font-size: 16px;
  }

  .portfolio____gallery___heading--links button {
    font-size: 11px;
    text-decoration: underline;
  }

  .portfolio____gallery___heading--links button:hover {
    color: var(--hoverColor1);
  }

  a.aboutactive {
    color: var(--hoverColor1);
  }

  .portfolio____gallery--cardSection___card {
    height: 10vh;
  }
  .portfolio____gallery--cardSection___cardII {
    height: 10vh;
  }

  .portfolio____gallery--cardSection___card--detail___text h4 {
    font-size: 13px;
  }

  .portfolio____gallery--cardSection___card--detail___textII h1 {
    font-size: 14px;
  }
  .portfolio____gallery--cardSection___card--detail___textII h5 {
    font-size: 11px;
  }

  .portfolio____gallery--cardSection___card--detail___text p {
    font-size: 10px;
  }
  .portfolio____gallery--cardSection___card--detail___text a,
  .portfolio____gallery--cardSection___card--detail___textII a,
  .portfolio____gallery--cardSection___card--detail___textII button {
    font-size: 12px;
  }
}
