@import "../../App.css";

.gallery {
  padding: 1rem 3rem;
  margin-top: -10px;
  height: fit-content;
  position: relative;
}

.gallery___slider--image {
  height: 90vh;
}

.gallery___slider--image > img {
  height: 100%;
  width: 90%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
.galleryArrow {
  position: absolute;
  z-index: 10;
  height: 100%;
  top: 0;
  background-color: transparent;
}

.galleryNext {
  cursor: url(../../Assets/previos.png), auto;
  width: 50%;
  left: 0;
}

.galleryPrev {
  cursor: url(../../Assets/next.png), auto;
  width: 50%;
  right: 0;
}

.gallery___slider--detail {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  color: var(--text-color);
}

.gallery___slider--detail h5 span,
.gallery___slider--detail h5 a {
  color: var(--hoverColor1);
}

.gallery___slider--detail button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.gallery___slider--detail button h5:last-child {
  color: var(--text-color);
}
.gallery___slider--detail button h5:last-child:hover {
  color: var(--hoverColor1);
}

@media only screen and (max-width: 1024px) {
  .gallery {
    padding: 1rem 1.5rem;
  }
  .gallery___slider--image {
    height: 70vh;
  }
}

@media only screen and (max-width: 576px) {
  .gallery___slider--image {
    height: 50vh;
  }
  .gallery___slider--detail h5 {
    font-size: 12px;
  }
}
