@import "../../App.css";

.testimonial {
  padding: 5rem 3rem;
  height: 80vh;
  margin-top: 24px;
}

.testimonial___heading--line1 {
  position: relative;
  padding: 0 1rem;
  text-transform: uppercase;
  color: var(--hoverColor1);
}

.testimonial___heading--line1::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  content: "";
  background: var(--hoverColor1);
  color: var(--hoverColor1);
  z-index: 2;
}

.testimonial___heading h1 {
  position: relative;
}
.testimonial___heading hr {
  position: absolute;
  width: 8rem;
  left: 37%;
  bottom: 15%;
}

.testimonial___card {
  margin-top: 24px;
  height: fit-content;
  width: 90vw;
  background-color: transparent;
}

.arrow {
  position: absolute;
  z-index: 99;
  bottom: 20px;
  color: var(--primary-color);
  font-size: 24px;
  cursor: pointer;
}

.prev_arrow {
  right: 140px;
}

.next_arrow {
  right: 70px;
}

.testimonial___card--height {
  height: 60vh;
  position: relative;
}
.testimonial___card--contant {
  padding: 2rem 4rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.testimonial___card--contant___image {
  width: 40%;
  height: 100%;
}

.testimonial___card--contant___image > img {
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.testimonial___card--contant___detailcard {
  width: 60%;
  height: 50%;
  background-color: var(--cardColor);
  padding: 2rem 3rem;
  border-radius: 10px;
}

.testimonial___card--contant___detail {
  padding-top: auto;
  padding-bottom: auto;
}

.testimonial___card--contant___detail p {
  margin: 20px 0 28px 0;
  line-height: 1.8;
}

.testimonial___card--contant___detail--icon {
  display: flex;
  align-items: center;
}

.testimonial___card--contant___detail--icon a {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-right: 18px;
  transition: all 0.3s linear;
}

.testimonial___card--contant___detail--icon a:hover {
  color: var(--hoverColor1);
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 576px) {
  .testimonial {
    padding: 1.5rem 1.5rem;
    height: 65vh;
  }

  .testimonial___heading--line1 {
    font-size: 14px;
  }

  .testimonial___heading h1 {
    position: relative;
    font-size: 34px;
  }

  .testimonial___card {
    width: 90vw;
  }

  .arrow {
    bottom: -30px;
    font-size: 18px;
  }

  .prev_arrow {
    right: 60px;
  }

  .next_arrow {
    right: 20px;
  }

  .testimonial___card--height {
    height: 100%;
  }
  .testimonial___card--contant {
    padding: 0.5rem;
    height: 100%;
    flex-direction: column;
  }

  .testimonial___card--contant___image {
    width: 50%;
    height: 100%;
    z-index: 10;
  }

  .testimonial___card--contant___image > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .testimonial___card--contant___detailcard {
    padding: 0rem 0rem;
    width: 100%;
    margin-top: -5rem;
    height: fit-content;
    border-radius: 8px;
  }

  .testimonial___card--contant___detail {
    margin-top: 5rem;
    padding: 1rem;
  }
  .testimonial___card--contant___detail h3 {
    font-size: 16px;
  }
  .testimonial___card--contant___detail h4 {
    font-size: 12px;
  }
  .testimonial___card--contant___detail p {
    margin: 10px 0 18px 0;
    line-height: 1.5;
    font-size: 9px;
  }

  .testimonial___card--contant___detail--icon a {
    font-size: 1rem;
  }

}
