@import "../../App.css";

.certification {
  padding: 1rem 3rem;
  height: 80vh;
}

.certification___body {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.certification___body--content {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 18px;
}

.certification___body--image,
.certification___body--image img {
  height: 100%;
  border-radius: 24px;
}

.certification___body--detail {
  margin-left: 18px;
}

.certification___body--detail__content {
  margin-bottom: 4rem;
}

.certification___body--detail__content h3 {
  color: var(--primary-color);
}

button {
  background-color: transparent;
  outline: none;
  color: var(--primary-color);
  border: none;
}

.certification___body--detail__content i {
  margin-left: 8px;
  font-size: 28px;
}

.certification___body--detail__content hr {
  margin-top: 5px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.certification___body--detail__content p {
  color: var(--hoverColor1);
  opacity: 100%;
  margin-top: 10px;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  .certification {
    padding: 1.5rem 1.5rem;
    height: 85vh;
  }

  .certification___body--content {
    width: 100%;
    height: auto;
  }
  .certification___body--image {
    width: 60%;
  }
  .certification___body--detail {
    width: 40%;
  }
  .certification___body--image > img {
    width: 100%;
    border-radius: 8px;
  }

  .certification___body--detail {
    margin-left: 8px;
    height: fit-content;
  }

  .certification___body--detail__content {
    margin-bottom: 2rem;
  }

  .certification___body--detail__content h3 {
    font-size: 18px;
  }

  .certification___body--detail__content i {
    font-size: 24px;
  }

  .certification___body--detail__content p {
    margin-top: 1px;
    font-size: 9px;
  }
}

@media only screen and (max-width: 576px) {
  .certification {
    padding: 1.5rem 1.5rem;
    height: 85vh;
  }

  .certification___body--content {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .certification___body--image,
  .certification___body--detail,
  .certification___body--image > img {
    width: 100%;
    border-radius: 8px;
  }

  .certification___body--detail {
    margin-left: 8px;
    height: fit-content;
  }

  .certification___body--detail__content {
    margin-bottom: 0rem;
  }

  .certification___body--detail__content h3 {
    font-size: 18px;
  }

  .certification___body--detail__content i {
    font-size: 24px;
  }

  .certification___body--detail__content p {
    margin-top: 1px;
    font-size: 9px;
  }
}
